*{
	margin: 0;
	padding: 0;
}
h1,h3,p,a,button{
	font-family: "Microsoft Yahei","Hiragino Sans GB";
}
body{
	background-color: #f5f5f5;
}
.side-nav{
	position: fixed;
	top: 45%;
	right: 20px;
	z-index: 1;
}
.side-nav ul{
	text-align: center;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.side-nav ul li{
	display: block;
	margin: 0;
	padding:8px 0;
	line-height: 1045em;
}
.tooltip-side-nav{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}
.navbar{
	margin-bottom: 0;
}
.onepage{
	height: 750px;
}
.onepage-bg{
	height: 750px;
	width: 100%;
	position: absolute;
	background-position: center center;
	background-size: cover;
}
#onepagebg{
	background-image: url('img/pexels-photo-356147.jpeg')
}
.headh1content{
	margin-top: 150px;
	line-height: 75px;

}
.title-text{
	margin-left: 50px;
}
.headfontsize h1{
	font-size: 50px;
	color: #fff;
}
.headfontsize p{
	color: #fff;

}
.towpage{
	height: 750px;
}
.towpage-text-h1{
	text-align: center;
	display: block;
	margin-bottom: 20px;
}
.towpage .row{
	margin-right: 0;
	margin-left: 0;
}
.towpage-item{
	float: left;
	background-color: #fff;
	padding: 0 2px 2px 0;
	position: relative;
	overflow: hidden;
}
.towpage-item a{
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
}
.classicon h3{
	margin-top: 120px;
	color: #ccc;
}
.classicon h1{
	color: #fff5e1;
}
.classicon{
	width: 100%;
	height: 100%;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.classicon:hover{
	background-color:#4F4A51;
	opacity: 0.9;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}
.twopagebtn{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.twopagebtn .btn-lg{
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 100px;
}